h1, h2, h3{
    color:white;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
    margin: 0 0 0.5em 0;
}

h4, h5, h6 {
    color: #ffffff;
    font-weight: bold;
    font-family: 'Quattrocento', serif;
    line-height: 1.5;
    margin: 0 0 0.5em 0;
}


.row {
    display: flex;
  }

  .column {
    flex: 33.33%;
    padding: 5px;
  }

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }


.gallery {
    display: flex;
    padding: 110px;
    transition: 0.3s;
  }
  .gallery:hover .gallery__image {
    filter: grayscale(1);
  }
  .gallery__column {
    display: flex;

    flex-direction: column;
    width: 50%;
  }
  .gallery__link {
    margin: 10px;
    overflow: hidden;
  }
  .gallery__link:hover .gallery__image {
    filter: grayscale(0);
  }
  .gallery__link:hover .gallery__caption {
    opacity: 1;
  }
  .gallery__thumb {
    position: relative;
  }
  .gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
  }
  .gallery__image:hover {
    transform: scale(1.1);
  }
  .gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #4a3778;
    border-radius: 5px;
    width: 75%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color:white;
    font-family: 'Oswald', sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  .popup .close:hover {
    color: #953d75;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }